<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <title>Rock Paper Scissors</title>
</head>
<body>
    

        <header>
            <h1>Rock Paper Scissors</h1>
            <form action="/">
                <input type="submit" value="Home" />
            </form>
        </header>
           
           
            
        <main id="main-content">
        {%  block content %}
        
            
        {% endblock %}
        </main>
        
       <footer>
           <p>&copy; CodeClan games 2021</p>
       </footer>
    </div>
    
   

   
    
    
</body>
</html>